<!-- Add Product Form -->
<div class="container mt-5">
  <div class="row my-4">
    <div class="col-12">
      <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4">Add a New Product</h2>
        <app-add-product (productAdded)="onAddClick($event)"></app-add-product>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Product List -->
    <div class="col-12" *ngIf="products.length > 0; else noProducts">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @for (product of products; track $index) {
        <div class="col">
          <app-products [product]="product" class="h-100"></app-products>
        </div>
        }
      </div>
    </div>

    <!-- No Products Available -->
    <ng-template #noProducts>
      <div class="col-12">
        <h1 class="text-center text-muted mt-5">There are no products</h1>
      </div>
    </ng-template>
  </div>
</div>
